*{
    border: 0%;
    padding: 0%;
}
canvas{
    width: 2000px;
    height: 2000px;
}
#navbar{
    text-decoration: none;
    display: flex;
}
#elements{
    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 1vh 1vh 1vw 0vw;
    background-color: grey;
}
a{
    background-color: white;
    padding: 1vh 1vh 1vw 1vw;
    margin-left: 1vw;
}
a:hover{
    background-color: aquamarine;
}
button{
    background: none;
    border: 0;
    font-weight: 900;
}